$primary-color: #FAEBD7

.box
  height: 200px
  width: 200px
  overflow: auto
  background-color: $primary-color

.products--grid
  display: grid
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr))
  div
    img
      width: 70%
      height: 70%
      border-radius: 10%
    h2, p
      margin: 0

.message-error
  background: red
  color: white
  display: none
  &.invalid
    display: block

.line-error
  height: 0
  border-bottom: 1px solid
  &.invalid
    border-color: red
  &.valid
    border-color: green
