<!--NGSWITCH-->
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Luis'">
    Hola Luis, Match!
  </p>
  <p *ngSwitchCase="'Deisy'">
    Hola Deisy, Match!
  </p>
  <p *ngSwitchCase="'Carlos'">
    Hola Luis, Match!
  </p>
  <p *ngSwitchDefault>
    No hay Match :(
  </p>
</div>
<!--NGFOR OBJS-->
<h1>*ngFor Objs</h1>
<div>
  <div *ngFor="let product of products">
    <img [src]="product?.image" width="200" style="border-radius: 5%;" alt="image">&nbsp;
    <br>
    <h3></h3>
    <h2>Precio: ${{product.price}} COP</h2>
  </div>
</div>
<!--NGFOR-->
<h1>NgFor</h1>
<input type="text" required [(ngModel)]="newName">

<button (click)="addName()">add name</button>
<ul>
  <li *ngIf="names.length === 0">LISTA VACIA</li>
  <li *ngFor="let name of names; index as i">
    {{i+1}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<!--NGIF-->
<h1>NgIf</h1>
<p *ngIf="person.name === 'Luis'" >Soy {{person.name}}</p>
<p *ngIf="person.name === 'Manuel' && person.age === 18; else elseBlock" >Soy {{person.name}}</p>
<ng-template #elseBlock>
  <p>Hola extraño, es un gusto conocerte</p>
</ng-template>
<!--NGMODEL-->
<h1>NgModel</h1>
<p>Nombre {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid name: {{nameInput.valid}}</p>
<input type="number" required max="18" min="10" #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid age: {{ageInput.valid}}</p>

<!--EVENTOS-->
<h1>EVENTOS</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toogle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente officia nisi expedita porro
    necessitatibus optio, voluptatem quaerat blanditiis a at dolores maiores quas reiciendis nulla veritatis qui molestias non sit.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem accusamus officiis consectetur neque distinctio rem vitae,
    at doloribus nam deserunt? Exercitationem numquam illo commodi temporibus unde ea est libero optio!
  </p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p>
  nombre: {{this.person.name}}
</p>
<hr>
<!--Propíedades-->
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" >
<hr>
<!--HOLA MUNDO-->
<h1>Hola Mundo</h1>
<h2>{{'Hola!'.repeat(3)}}</h2>
<p>3 +3 = {{3+3}}</p>
<h3>Hola! soy {{name}} y tengo {{age}} años de edad</h3>
<img src={{img}} alt="image">
